@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management Application</h1>
    <p class="lead">Digital online Library</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Online Library Management brings the Library to your device/computer. YOu can access it from anywhere. 
            Hassle free online membership.
            Browse the millions of books online.
            Read it at your device or book hardcopy will be couriered at your address.
            Enjoy digital era of online reading.
        </p>
       
    </div>
   
</div>